.toggleHide {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

body {
	// overflow: hidden;
	background-color: #ffffff;
	header {
		// background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		// position: relative;
		// .headingLogo {

		// text-align: center;
		// margin: 0;

		.headerLogo {
			position: relative;
			margin: 0;
			.headerLogoText {
				position: absolute;
				bottom: 0.5rem;
				left: 1.2rem;
				letter-spacing: 8px;
				text-transform: uppercase;
				margin: 0;
				color: #ffb406;
				font-weight: 300;
			}
		}
		// }
		// .checkOutProd,
		// .checkOutAmount {
		// 	position: fixed;
		// 	right: 1rem;
		// }
		// .checkOutAmount {
		// 	top: 1.5rem;
		// }
		nav {
			display: flex;
			width: 100%;
			height: 40px;
			position: relative;
			.navCartBtn,
			.OpenNavBtn {
				flex: 3;
				border: none;
			}
			.navCartBtn {
				position: relative;
				.productInCart {
					position: absolute;
					top: 5px;
					background-color: #f5c24c;
					border-radius: 10px;
					height: 50%;
					// right: 5px ;
				}
			}
			.navSearchBtn {
				flex: 1;
				border: 1px solid #f3ca6a;
				border-left: none;
			}
			.navCartBtnFilled {
				//Om kundvagn har produkter, visa denna färg
				background-image: linear-gradient(
					to right,
					#f3ca6a,
					pink,
					rgb(187, 76, 94)
				);
				// svg {
				// 	// fill: #f3ca6a;
				// }
			}
			//FIX ___ Opacity between arrow and shopping cart
			.cartPreview {
				position: absolute;
				left: 10px;
				right: 30px;
				top: 3rem;
				// border: 1px solid black;
				background-color: RGBA(243, 202, 106, 1);
				width: 90vw;
				height: auto;
				z-index: 1;
				border-radius: 3px;
				// display: grid;
				.cartPreviewArrow {
					position: absolute;
					left: 2rem;
					top: -9px;
					background-color: RGBA(243, 202, 106, 1);
					transform: rotate(45deg);
					padding: 10px;
				}
				.cartCloseBtn {
					// justify-content: center;
					position: absolute;
					right: 0;
					top: 0;
					border: none;
					border-radius: 0 10px 0 80px;
					padding: 0px 20px 10px 15px;
					background-color: rgb(216, 93, 114);
					// font-size: 1.5rem;
					.cartPreviewImg {
						padding: 10px 0 2px 10px;
					}
				}
				.cartCloseBtn:hover {
					background-color: rgb(172, 77, 93);
				}
				.summaryHeading {
					text-align: center;
					border-bottom: 1px solid black;
				}
				// ul {
				// 	display: flex;
				// 	justify-content: space-between;
				// 	border-bottom: 1px solid #fff;
				// }
				.productPreviewInfo {
					padding: 0;
					display: flex;
					justify-content: space-evenly;
					border-bottom: 1px solid #fff;
					// font-size: 2rem;
					margin: 0;
				}
				.productPreviewSummary {
					display: flex;
					justify-content: space-evenly;
					padding: 10px;
					// font-size: 1rem;

					// justify-content: space-evenly;
					border-bottom: 1px solid #fff;
					// ul {
					// 	margin-left: 2px;
					// }

					.productPreviewImage {
						grid-column: 1 / span 1;
						border-radius: 3px;
						width: 100px;
						height: 100px;
					}
					.previewProductTitle,
					.previewProductPrice {
						margin-top: 15px;
						text-align: center;
					}

					.previewProductTitle {
						// margin:0;
					}
					.previewProductPrice {
						// margin: 0;
					}
					.productAmountActions {
						margin-top: 1rem;
						.productAmount {
							width: 1.5rem;
						}
					}
					.previewProductRemoval,
					.productAmountSub,
					.productAmountAdd,
					.productAmount {
						margin-top: 13px;
						border: 1px solid #0e0b0b;
						// border-radius: 3px;
					}
					.productAmountSub,
					.productAmount {
						border-right: none;
					}
					.productAmountAdd,
					.productAmount {
						border-left: none;
					}
					.productAmountSub {
						border-radius: 3px 0 0 3px;
					}
					.productAmountAdd {
						border-radius: 0 3px 3px 0;
					}
					.previewProductRemoval {
						border-radius: 3px;
					}
					.previewProductRemoval:hover,
					.productAmountSub:hover,
					.productAmountAdd:hover {
						background-color: rgb(172, 168, 168);
					}
				}

				.checkoutBtn {
					border: none;
					background-color: rgb(252, 246, 246);
					// text-align: center;
					width: 100%;
					margin-bottom: 5px;
					border-radius: 10px;
					height: 50px;
				}
				.checkoutBtn:hover {
					background-color: rgb(172, 168, 168);
				}
			}
			.navCartBtn:hover,
			.OpenNavBtn:hover,
			.navSearchBtn:hover {
				background-color: #f3ca6a;
				// color: #ffffff;
			}

			.navSearchBar {
				flex: 4;
				position: relative;
				// height: 36px;
				// width: 100%;
				border: 1px solid #f3ca6a;
				border-right: none;
			}
			// .navSearchBtn {
			//     // position: absolute;
			//     // top: 0;
			//     // right: -6px;
			//     height: 100%;
			//     border:1px solid #FFB406;                // background-color: #fff;
			// }
			.navMenu {
				position: fixed;
				top: 0;
				width: 100vw;
				height: 100vh;
				background-color: rgb(107, 107, 107);
				opacity: 0.9;
				z-index: 5;
				.closeNavBtn,
				.themeToggleBtn {
					position: absolute;
				}
				.closeNavBtn {
					// justify-content: center;
					// position: absolute;
					right: 0;
					top: -1px;
					border: none;
					border-radius: 0 0 0 80px;
					padding: 0px 40px 25px 25px;
					background-color: rgb(216, 93, 114);
					// font-size: 1.5rem;
					img {
						padding: 10px 1px 2px 10px;
					}
				}
				.closeNavBtn:hover {
					background-color: rgb(172, 77, 93);
				}
				.themeToggleBtn {
					left: 0;
					top: 0;
					border: none;
					border-radius: 0 0 80px 0;
					padding: 0px 40px 25px 25px;
					background-image: linear-gradient(
						to right,
						#4b4a4a,
						rgb(170, 148, 152),
						rgb(255, 255, 255)
					);
					img {
						padding: 10px 1px 2px 5px;
					}
				}
				.themeToggleBtn:hover {
					background-image: linear-gradient(
						to right,
						rgb(255, 255, 255),
						rgb(170, 148, 152),
						#4b4a4a
					);
				}
				ul {
					display: flex;
					justify-content: space-evenly;
					flex-direction: column;
					height: 80%;
					text-align: center;
					font-size: 2rem;
					padding: 0;
					a {
						color: #fff;
					}
					a:hover {
						color: #ffb406;
					}
				}
			}
		}
	}

	.sectionHeading {
		text-align: center;
		margin: 0;
		padding: 1rem;
		text-transform: uppercase;
		position: relative;
		font-weight: 400;
	}

	.rightDivider,
	.leftDivider {
		display: inline-block;
		border-bottom: 1px solid #080404;
		width: 20%;
		top: 2rem;
	}
	.rightDivider {
		position: absolute;
		right: 0;
	}
	.leftDivider {
		position: absolute;
		left: 0;
	}

	.mainSectionWrapper {
		// .reviewSec,
		// .instructionSec {
		// 	// height: 50vh;
		// }

		.productSec {
			// background-color: rgb(75, 30, 43);
			// height: 100vh;
			background-color: #fff;
			.sortBtn {
				border: none;
				border-radius: 5px;
				background-color: rgb(252, 246, 246);
				// float: right;
				// padding: 2rem;
				// position: absolute;
				// top: -3rem;
				// right: 0;
			}
			.sortBtn:hover {
				background-color: rgb(172, 168, 168);
			}
			.sortMenu {
				border: 1px solid black;
			}
			.productContainer {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 1rem;
				margin: 2rem;
				position: relative;
				// .articleSort {

				// }
				.productArticles {
					width: 100%;
					grid-column: span 2;
					border-radius: 5px;
					.articleImage {
						width: 100%;
						height: 300px;
						object-fit: cover;
						object-position: center;
						// border: 10px solid #fff;
						// border-radius: 5px;
						// filter: brightness(2);
						border-radius: 5px;
					}
					.articleTitle,
					.articlePrice {
						text-align: center;
						font-size: 1.5rem;
					}
					.articlePrice {
						position: relative;
						.articleRating {
							position: absolute;
							right: 0;
							top: -2rem;
							float: right;
							margin: 10px;
							background-color: #c4a2a2;
							border-radius: 5px;
							font-size: 1rem;
						}
					}
					.articleBtn {
						display: flex;
						justify-content: space-between;
						.articleAddToCart,
						.articleRemoveFromCart {
							width: 50%;
							height: 40px;
							border: none;
							// border-radius: 0 0 5px 5px;
						}
						.articleAddToCart {
							border-radius: 0 0 5px 0;
						}
						.articleAmnt {
							margin: 0px;
							// width: 5rem;
							background-color: #ffffff;
							// border-top: 1px solid #000000;
							// border-bottom: 1px solid #000000;
							// // span {
								
							// }
						}
						.articleRemoveFromCart {
							border-radius: 0 0 0 5px;
						}
						.articleAddToCart:hover,
						.articleRemoveFromCart:hover {
							background-color: #c0a8a8;
						}
						.articleAddToCart:active,
						.articleRemoveFromCart:active {
							background-color: #8f4949;
						}
					}

				}
				.productArticles:nth-child(even) {
					background-color: #f8e1e1;
				}
			}
		}

		.instructionSec {
			.instructionList {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				li {
					grid-column: span 1;
				}
			}
		}

		.reviewSec {
			// background-color: aqua;
			background-color: #fff;

			.reviewsContainer {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 20px;
				position: relative;
				// height: 45vh;
				.reviews {
					position: relative;
					grid-column: span 4;

					background-position: center;
				}
				.reviews {
					img {
						filter: blur(5px);
						object-fit: cover;
						width: 100%;
						// height: 100%;
					}
					h3 {
						// display: flex;
						text-align: center;
						position: absolute;
						top: 7rem;
						// padding: 0 2rem 0 2rem ;
						padding: 1rem;
						margin: 0;
						color: #ffffff;
						background-color: rgba($color: #c24f4f, $alpha: 0.5);
						width: auto;
					}
					// p {
					// 	position: absolute;
					// 	top: 9rem;
					// 	color: #fff;
					// }
				}
				// .reviews:nth-child(2) {
				// 	background-image: url('../Assets/Images/Reviews/Review2.jpg');
				// 	width: 100%;
				// 	object-fit: contain;
				// 	img {
				// 		filter: blur(5px);
				// 	}
				// 	h3 {
				// 		position: absolute;
				// 		top: 3rem;
				// 	}
				// 	p {
				// 		position: absolute;
				// 		top: 9rem;
				// 		color: #fff;
				// 	}
				// }
				// .reviews:nth-child(3) {
				// 	background-image: url('../Assets/Images/Reviews/Review2.jpg');
				// 	width: 100%;
				// }
				// .reviews:nth-child(4) {
				// 	background-image: url('../Assets/Images/Reviews/Review2.jpg');
				// 	width: 100%;
				// }
			}
		}
	}

	.checkoutWrapper {
		// min-height: 100vh;
		.checkoutSec {
			width: 85vw;
			margin: auto;
			background-color: rgb(252, 246, 246);
			border-radius: 5px;
			margin-bottom: 10rem;
			// display: flex;
			.productCheckoutSummary {
				padding: 0;
				.productAdded {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #000000;
					.productAmount {
						margin-top: 1.5rem;
						width: 20%;
						.productAmountValue {
							width: 20%;
						}
					}
					.productCheckoutImage {
						margin: 0 0 1rem 1rem;
						border-radius: 5px;
					}
				}
			}
			.checkoutInput {
				border-radius: 5px;
				border: 1px solid #f5c24c;
				padding: 3px;
			}
			h3 {
				text-align: center;
			}
			// .fieldSetContainer {
			.orderForm {
				border: none;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				flex-direction: column;
				width: 80vw;
				gap: 20px;
				label {
					grid-column: 1 / span 2;
					// float: left;
					// width: 30%;
					// margin-bottom: 1rem;
				}
				input {
					grid-column: 3 / span 2;

					// border:1px solid rgb(172, 64, 64)
					// margin-bottom: 1rem;
					// width: 100%;
				}
			}
			.couponCode {
				border: none;
			}
			.paymentChoice {
				border: none;
				background-color: rgba($color: #c0a8a8, $alpha: 0.5);
				margin: auto;
			}
			.cardPayment,
			.orderSubmit {
				display: flex;
				flex-direction: column;
				// width: 50%;
				justify-content: space-between;
			}
		}
	}

	.orderConfirmation {
		text-align: center;
		// height: 100vh;
		.confirmationMsg {
			border: 5px solid #f3ca6a;
			border-left: none;
			border-right: none;
			.orderSummary {
				padding: 0;
				.productAdded {
					display: flex;
					justify-content: space-around;
					border-bottom: 1px solid #000000;
					.productAmount {
						margin-top: 1.5rem;
						width: 20%;
						.productAmountValue {
							width: 20%;
						}
					}
					.productSummaryImage {
						// margin: 0 0 1rem 1rem;
						border-radius: 5px;
						border: 5px solid #f3ca6a;
						height: 100px;
						width: 100px;
					}
				}
			}
		}
	}
	footer {
		margin-top: 3rem;
		background-color: rgb(241, 237, 237);
		display: flex;
		justify-content: space-evenly;
		background-image: url(/Assets/icons/lightThemeLogo.svg);
		background-repeat: no-repeat;
		background-position: center;
		flex-wrap: wrap;
		li {
			padding: 10px;
			border-bottom: 1px solid #000000;
			font-weight: 600;
			a {
				color: #000000;
				width: 4rem;
			}
			a:hover {
				background-color: #dfd1d1;
			}
		}
		div {
			display: flex;
			width: 100%;
			background-color: #000000;
			justify-content: space-evenly;
			// justify-content: space-between;

			p {
				// text-align: center;
				margin: 1.5rem;
				color: #fff;
				img {
					// display: inline-block;
					object-fit: contain;
				}
			}
		}
	}
}

.darkTheme {
	background-color: rgb(56, 53, 49);
	//Logo here?
}

.logoColor {
	// filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}
