body {
    background-color: beige;
    header {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        figure {
            // text-align: center;
            margin: 0;
        }
        .checkOut {
            position: absolute;
            right: 1rem;
        }
        nav {
            // display: flex;
            height: 50px;
            width: 100%;
            background-color: aquamarine;
            // justify-content: space-between ;
            .navList {
                // display: block;
                float: left;
                padding: 0 16px;
                a {
                    // display: block;
                }
            }
        }
    }

    .introSec,
    .instructionSec {
        height: 50vh;
    }

    .sectionHeading {
        text-align: center;
        margin: 0;
        padding: 1rem;
        text-transform: uppercase;
        position: relative;

    .rightDivider,
    .leftDivider {
        display: inline-block;
        border-bottom: 1px solid #080404;
        width: 20%;
    }
    .rightDivider {
        position: absolute;
        right: 0;
        top: 2rem;
    }
    .leftDivider {
        position: absolute;
        left: 0;
        top: 2rem;
    }
}
    .introSec {
        background-color: aqua;
    }

    .instructionSec {
        background-color: rgb(56, 80, 80);
    }

    .productSec {
        background-color: rgb(75, 30, 43);
        height: 100vh;
    }

    footer {
        height: 20vh;
    }
}

.darkTheme {
    background-color: rgb(56, 53, 49);
    //Logo here?
}

.logoColor {
    // filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);

}