body {
	.mainSectionWrapper {
		.productSec {
			.productContainer {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				.productArticles {
					grid-column: span 2;
				}

			}
            .addedToCart {
				.addedBtn {
                    position: absolute;
                    right: 0;
                    top: 0;
					height: 50px;
					width: 30%;
                    height: 100%;
				}
			}
		}
	}
	.checkoutWrapper {
		.checkoutSec {
			.productCheckoutSummary {
				.productAdded {
					display: flex;
					border-bottom: 1px solid #000000;
					justify-content: space-between;
					.productAmount {
						width: 20%;
					}
				}
			}
		}
	}
}